.name{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.contact{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  text-align: center;
}
.text{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
.sub{
  margin-left: 2%;
  color: gray;
}
body{
  margin-left: 5%;
  margin-right: 5%
}
li{
  transition: transform .2s;
  transition-timing-function: ease-in-out;
  transform-origin: center;
}
li:hover{
  transform: scale(1.02);
}

.hide .contact {
  opacity: 0;
  width: 100%;
  display: block;
  height: 0px;
  text-align: left;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.hide input[type="checkbox"]:checked + .contact {
  height: 200px;
  display: table;
  opacity: 100;
}
input{
  width: auto;
}
#item-3{
  display: none;
}
