.name{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.contact{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  text-align: center;
}
.text{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
.sub{
  font-size: medium;
  margin-left: 2%;
  color: gray;
}
body{
	line-height: 150%;
  margin-left: 5%;
  margin-right: 5%
}
li{
  font-size: large;
  transition: transform .2s;
  transition-timing-function: ease-in-out;
  transform-origin: center;
}
li:hover{
  transform: scale(1.02);
}

b{
  color: dark-grey;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    li{
        page-break-inside: avoid;
    }
    ul {
      page-break-before: avoid;
    }
}

.print-button{
  color: darkblue;
  cursor: pointer;
}
